header {
  background-color:#244751;
  color: aliceblue;
  padding: 0 20px;
}

@media (max-width: 500px) {
    header {
        background-color:#244751;
        color: aliceblue;
    }
}


.user-info {
  align-items: center;
  margin-top: 1em;
}

.user-info img {
  border-radius: 50%;
}

.header-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}

.pipe-divider {
  margin: 0 10px;
}